<div class="container px-4 mx-auto">
  <h2 class="mb-8 text-3xl font-bold">Introducing Our Latest Product</h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
    @for (item of products(); track $index) {
      <div class="p-8 bg-white rounded-lg shadow-lg">
        <div class="relative overflow-hidden">
          <img class="object-contain w-full h-60" [src]="item.image"
            alt="Product">
          <div class="absolute inset-0 bg-black opacity-40"></div>
          <div class="absolute inset-0 flex items-center justify-center">
            <button class="px-6 py-2 font-bold text-gray-900 bg-white rounded-full hover:bg-gray-300">View
              Product</button>
          </div>
        </div>
        <h3 class="mt-4 text-xl font-bold text-gray-900">{{ item.title }}</h3>
        <p class="mt-2 text-sm text-gray-500">{{item.description}}</p>
        <div class="flex items-center justify-between mt-4">
          <span class="text-lg font-bold text-gray-900">{{item.price}}</span>
          <button (click)="addToCart(item)" class="px-4 py-2 font-bold text-white bg-gray-900 rounded-full hover:bg-gray-800">Add to Cart</button>
        </div>
      </div>
    }
  </div>

</div>
